################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/github.actions/github.actions.tests/bin/Debug/netcoreapp2.2
